<h2>Reactivos: <small>Dinámicos</small></h2>
<hr />

<form autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="guardar()">

  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control"
             formControlName="nombre"
             placeholder="Nombre de la persona"
             />
      <span class="form-text text-danger"
            *ngIf="campoNoValido('nombre')">
       El campo es obligatorio y requiere minimo 3 caracteres.
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar Juego</label>
    <div class="col-sm-9">

      <div class="input-group">
        <input class="form-control"
               [formControl]="nuevoFavorito"
               placeholder="Agregar favorito"
               (keyup.enter)="agregarFavorito()"
              >
        <button class="btn btn-outline-primary"
                type="button"
                (click)="agregarFavorito()"
              >
              Agregar
        </button>
      </div>

    </div>
  </div>

  <!-- Lista Juegos favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Juegos Favoritos</label>

    <div class="col-sm-9" formArrayName="favoritos">
      <div class="input-group mb-1"
           *ngFor="let fav of favoritosArr.controls; let i = index">
        <input class="form-control"
               [formControlName]="i"
               >
        <button class="btn btn-outline-danger"
                type="button"
                (click)="eliminar(i)"
                >
          Eliminar
        </button>
      </div>
    </div>

  </div>


  <div class="mb-3 row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>

</form>


<span>Valid</span>
<pre> {{ miFormulario.valid }} </pre>

<span>Value</span>
<pre> {{ miFormulario.value | json }} </pre>

<span>Agregar Juego</span>
<pre> {{ nuevoFavorito.valid }} </pre>

<span>Agregar Juego</span>
<pre> {{ nuevoFavorito.value }} </pre>
